*{
    padding: 0%;
    margin: 0%;
    
}
body{
    width: 100%;
    min-height: 80%;
    background-color: beige;
    justify-content: center;
}
.Formulario{
    margin: 2em;
    height: 30%;
    margin: 8% 10%;
    justify-content: center;
    text-align: center;
    align-items: center;


}
.Conteiner{
    margin: 5em;
    text-align: center;   
}
.Conteiner a{
    display:flex;
    justify-content: center;
    cursor: pointer;
    margin: 1em;
}